# This workflow will install Python dependencies, run tests with code coverage and upload the results to Codecov

name: Code Coverage

on: [push, pull_request]

jobs:
  code_coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip tox
    - name: Run tests and collect coverage
      run: |
        tox -e coverage
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
